<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/assets/static/images/favicon.ico"/>
    <title>World: Live News</title>
    <style>#loader {
        transition: all .3s ease-in-out;
        opacity: 1;
        visibility: visible;
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #fff;
        z-index: 90000
    }

    #loader.fadeOut {
        opacity: 0;
        visibility: hidden
    }

    .spinner {
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        background-color: #333;
        border-radius: 100%;
        -webkit-animation: sk-scaleout 1s infinite ease-in-out;
        animation: sk-scaleout 1s infinite ease-in-out
    }

    @-webkit-keyframes sk-scaleout {
        0% {
            -webkit-transform: scale(0)
        }
        100% {
            -webkit-transform: scale(1);
            opacity: 0
        }
    }

    @keyframes sk-scaleout {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0)
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0
        }
    }


    </style>
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/article-grid.css" rel="stylesheet">
</head>
<body class="app">
<div id="loader">
    <div class="spinner"></div>
</div>
<script>window.addEventListener('load', () => {
    const loader = document.getElementById('loader');
    setTimeout(() => {
        loader.classList.add('fadeOut');
    }, 300);
});</script>
<div>
    {% include "sidebar.html" %}
    <div class="page-container">
        <div class="header navbar">
            <div class="header-container">
                <h4 style="text-align: center;color: red;padding: 10px;">World: Recent Developments</h4>

            </div>
        </div>
        <main class="main-content bgc-grey-100">
            <div id="mainContent">
                <div class="container-fluid">
                    <div class="row">
                        <div class="site__wrapper">
                            <div class="grid">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="/static/assets/static/images/bubbles.jpg"
                                             alt="">

                                        <div class="card__overlay card__overlay--indigo">
                                            <div class="card__overlay-content">
                                                <a href="https://www.aol.com/article/news/2020/03/06/the-us-has-the-worlds-highest-coronavirus-death-rate-at-more-than-5-a-number-that-reflects-the-countrys-lack-of-testing/23941708/"
                                                   target="_blank" class="card__title">The U.S. has the world's highest
                                                    coronavirus death rate at more than 5% - a number that reflects the
                                                    country's lack of testing</a>

                                                <ul class="card__meta card__meta--last">
                                                    <li><a href="#0"><i class="fa fa-tag"></i> USA</a></li>
                                                    <li><a href="#0"><i class="fa fa-clock-o"></i> 14 hours ago</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="grid">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="/static/assets/static/images/indigo.png" alt="">

                                        <div class="card__overlay card__overlay--blue">
                                            <div class="card__overlay-content">

                                                <a href="https://thehill.com/homenews/house/486325-democrats-introduce-bill-to-guarantee-paid-sick-leave-in-response-to"
                                                   target="_blank" class="card__title">Democrats introduce bill to
                                                    guarantee paid sick leave in response to coronavirus</a>

                                                <ul class="card__meta card__meta--last">
                                                    <li>
                                                        <a href="#0"><i class="fa fa-tag"></i> USA </a></li>
                                                    <li><a href="#0"><i class="fa fa-clock-o"></i> 06/03/2020</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="grid">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="/static/assets/static/images/leatherette_black.jpg" alt="">

                                        <div class="card__overlay card__overlay--blue">
                                            <div class="card__overlay-content">

                                                <a href="https://www.nytimes.com/2020/03/06/us/coronavirus-college-campus-closings.html"
                                                   class="card__title">The University of Washington is moving to online
                                                    classes for its 50,000 students. </a>

                                                <ul class="card__meta">
                                                    <li>
                                                        <a href="#0"><i class="fa fa-tag"></i> USA</a></li>
                                                    <li><a href="#0"><i class="fa fa-clock-o"></i> 06/03/2020 </a></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="grid">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="/static/assets/static/images/teal_gfreen221-2.jpg" alt="">

                                        <div class="card__overlay card__overlay--blue">
                                            <div class="card__overlay-content">

                                                <a href="https://www.independent.ng/chinas-youngest-coronavirus-patient-recovers/"
                                                   target="_blank" class="card__title">A Chinese baby who was infected
                                                    with the coronavirus at five days old has been discharged from a
                                                    hospital following a full recovery.
                                                </a>

                                                <ul class="card__meta card__meta--last">
                                                    <li><a href="#0"><i class="fa fa-tag"></i> CHINA </a></li>
                                                    <li><a href="#0"><i class="fa fa-clock-o"></i>
                                                        06/03/2020</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="grid">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="/static/assets/static/images/blue.jpg" alt="">

                                        <div class="card__overlay card__overlay--blue">
                                            <div class="card__overlay-content">


                                                <a href="https://www.sciencealert.com/if-you-re-worried-about-children-catching-coronavirus-here-s-what-you-need-to-know"
                                                   target="_blank" class="card__title">The majority of children and
                                                    adolescents with COVID-19 in China (which is less than 1% of cases)
                                                    had mild infections, and recovered within one to two weeks. This
                                                    includes infants.</a>

                                                <ul class="card__meta">
                                                    <li><a href="#0"><i class="fa fa-tag"></i> WORLD</a></li>
                                                    <li><a href="#0"><i class="fa fa-clock-o"></i> 06/03/2020</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="/static/assets/static/images/Color-orange.jpeg" alt="">

                                        <div class="card__overlay card__overlay--blue">
                                            <div class="card__overlay-content">
                                                <a target="_blank"
                                                   href="https://www.cnbc.com/2020/03/06/doctor-who-treated-first-us-coronavirus-patient-says-covid-19-has-been-circulating-unchecked-for-weeks.html"
                                                   class="card__title">Doctor who treated first US coronavirus patient
                                                    says COVID-19 has been ‘circulating unchecked’ for weeks</a>

                                                <ul class="card__meta">
                                                    <li><a href="#0"><i class="fa fa-tag"></i> USA </a></li>
                                                    <li><a href="#0"><i class="fa fa-clock-o"></i> 06/03/2020</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="/static/assets/static/images/multi-colored.jpg" alt="">

                                        <div class="card__overlay card__overlay--blue">
                                            <div class="card__overlay-content">

                                                <a target="_blank"
                                                   href="https://edition.cnn.com/world/live-news/coronavirus-outbreak-03-06-20-intl-hnk/h_1fc884e11591b06c40d3f02785b7850d"
                                                   class="card__title">The Czech Republic will fine you up to $130,000
                                                    if you break quarantine</a>

                                                <ul class="card__meta">
                                                    <li><a href="#0"><i class="fa fa-tag"></i> EUROPE </a></li>
                                                    <li><a href="#0"><i class="fa fa-clock-o"></i> 06/03/2020</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="grid">
                                <div class="card">
                                    <div class="card__image">
                                        <img src="/static/assets/static/images/gradient1.png" alt="">

                                        <div class="card__overlay card__overlay--blue">
                                            <div class="card__overlay-content">

                                                <a target="_blank"
                                                   href="https://www.newtimes.co.rw/international/hong-kong-develops-rapid-detection-method-coronavirus"
                                                   class="card__title">Hong Kong biotechnology company said it has
                                                    successfully developed a rapid detection method for novel
                                                    coronavirus that is highly accurate and sensitive</a>

                                                <ul class="card__meta">
                                                    <li><a href="#0"><i class="fa fa-tag"></i> HONG KONG </a></li>
                                                    <li><a href="#0"><i class="fa fa-clock-o"></i> 06/03/2020</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div><!-- @end site__wrapper -->

                    </div>
                </div>
            </div>
        </main>
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600"><div>Made with <span style="color:red">❤</span> in India</div>
        </footer>
    </div>
</div>
<script type="text/javascript" src="/static/vendor.js"></script>
<script type="text/javascript" src="/static/bundle.js"></script>
</body>
</html>