<div class="sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
                <div class="peer peer-greed"><a class="sidebar-link td-n" href="/">
                    <div class="peers ai-c fxw-nw">
                        <div class="peer">
                            <div class="logo"><img height="48x" width="48px" style="margin: 6px;"
                                                   src="/static/assets/static/images/corona-virus-3133.svg" alt="">
                            </div>
                        </div>
                        <div class="peer peer-greed"><h5 class="lh-1 mB-0 logo-text">COVID-19</h5></div>
                    </div>
                </a></div>
                <div class="peer">
                    <div class="mobile-toggle sidebar-toggle"><a href="" class="td-n"><i
                            class="ti-arrow-circle-left"></i></a></div>
                </div>
            </div>
        </div>
        <ul class="sidebar-menu scrollable pos-r ps mm" style="padding: 1em">
            <li class="nav-item dropdown {{ open_world }}"><a class="dropdown-toggle" href="javascript:void(0);"><span
                    class="icon-holder"><i class="c-purple-500 ti-world"></i> </span><span class="title">WORLD</span>
                <span class="arrow"><i class="ti-angle-right"></i></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/world-stats">Statistics</a></li>
                    <li><a href="/world-live">Recent News</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown {{ open_india }}"><a class="dropdown-toggle" href="javascript:void(0);"><span
                    class="icon-holder"><i class="c-purple-500 ti-map"></i> </span><span class="title">INDIA</span>
                <span class="arrow"><i class="ti-angle-right"></i></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/india-stats">Statistics</a></li>
                    <li><a href="/india-live">Recent News</a></li>
                    <li><a href="/india-links">Important Links</a></li>
                </ul>
            </li>
            <li class="nav-item"><a class="sidebar-link" href="/good-news"><span class="icon-holder"><i
                    class="c-blue-500 ti-share"></i> </span><span class="title">GOOD NEWS</span></a></li>
            <li class="nav-item"><a class="sidebar-link" href="/how-to"><span class="icon-holder"><i
                    class="c-deep-orange-500 ti-calendar"></i> </span><span class="title">HOW TO</span></a></li>
            <li style="border-top: 1px solid #ccc; margin: 4em;"></li>
            <li class="nav-item" style="margin: 1em;text-align: center"><span
                    class="title">Subscribe to newsletter</span></li>
            <li class="nav-item" style="margin: 1em;text-align: center">
                <input type="radio" name="subscribe_country" id="subscribe_country" value="india">&nbsp; India&nbsp;&nbsp;
                <input type="radio" name="subscribe_country" id="subscribe_country" value="world">&nbsp; World&nbsp;&nbsp;
                <input type="radio" name="subscribe_country" id="subscribe_country" value="both">&nbsp; Both
            </li>
            <li class="nav-item" style="margin: 1em;text-align: center">
                <input type="radio" id="subscribe_frequency" value="6">&nbsp; 6 hrs&nbsp;&nbsp;
                <input id="subscribe_frequency" type="radio" value="12">&nbsp; 12 hrs&nbsp;&nbsp;
                <input id="subscribe_frequency" type="radio" value="24">&nbsp; 24 hrs
            </li>
            <li><input type="email" class="form-control" id="email" placeholder="Email"></li>
            <li style="margin: 1em;text-align: center">
                <button type="submit" class="btn btn-primary subscribe-newsletter">Subscribe</button>
            </li>
            <li class="nav-item success-li" style="margin: 1em;text-align: center;display: None;color: #00AF80"><span
                    class="title">Success </span><img src="/static/assets/static/images/tick-00AF80.png"
                                                      style="height: 16px;width: 16px"/></li>
            <li class="nav-item error-li" style="margin: 1em;text-align: center;display: None;color: red"><span
                    class="title">Error!</span></li>
            <li class="nav-item error-email-li" style="margin: 1em;text-align: center;display: None;color: red"><span
                    class="title">Invalid Email!</span></li>
        </ul>
    </div>
    <div style="clear: both"></div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script type="text/javascript">
    $(".subscribe-newsletter").click(function (e) {
        var email = $("#email").val();
        var subscribe_country = $('input[id="subscribe_country"]:checked').val();
        var subscribe_frequency = $('input[id="subscribe_frequency"]:checked').val();
        if (email == '') {
            $(".error-email-li").fadeIn("slow").fadeOut("slow");
            return false;
        } else {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            var valid = re.test(String(email).toLowerCase());
            if (!valid) {
                $(".error-email-li").fadeIn("slow").fadeOut("slow");
                return false;
            }
        }
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/subscribe',
            data: {
                email: email,
                subscribe_country: subscribe_country,
                subscribe_frequency: subscribe_frequency,
            },
            success: function (response) {
                $(".success-li").fadeIn("slow").fadeOut("slow");
            },
            error: function (request) {
                console.log("-------------------------")
                $(".error-li").fadeIn("slow").fadeOut("slow");
            }
        });
    })
</script>